.btn-group
{
    left:65%;
}
.dropdown-menu
{
    padding: 5px;
}
.section-comentarios .card
{
   overflow: visible;
   padding: 20px;
}
.section-comentarios .card .imagem-comentario img
{
    width: 100%;
    height: 150px
}