<html>
    <head>
        <title></title>
    </head>
    <body>
        <!--Footer-->
        <footer class="page-footer center-on-small-only">

            <!--Footer Links-->
            <div class="container-fluid">
                <div class="row">

                    <!--Copyright-->

                    <div class="container-fluid">
                        <div class="social-section">
                            <ul>
                                <li><a class="btn-floating btn-small btn-fb btn-rede-social"><i class="fa fa-facebook "> </i></a></li>
                                <li><a class="btn-floating btn-small btn-tw btn-rede-social"><i class="fa fa-twitter"> </i></a></li>
                                <li><a class="btn-floating btn-small btn-ins btn-rede-social"><i class="fa fa-instagram"> </i></a></li>
                            </ul>
                        </div>

                    </div>

                    <!--/.Copyright-->

                    </footer>
                    <!--/.Footer-->

                    <!-- JQuery -->
                    <script type="text/javascript" src="../lib/jquery/jquery-2.2.3.min.js"></script>

                    <!-- Bootstrap tooltips -->
                    <script type="text/javascript" src="../lib/bootstrap/tether.min.js"></script>

                    <!-- Bootstrap core JavaScript -->
                    <script type="text/javascript" src="../lib/bootstrap/bootstrap.min.js"></script>

                    <!-- MDB core JavaScript -->
                    <script type="text/javascript" src="../lib/bootstrap/mdb.min.js"></script>

                    <!-- Paginação da tabela -->
                    <script type="text/javascript" src="../js/outros/tabela-responsiva.js"></script>

                    

                   


                    </body>
                    </html>