
<a onclick="openFooter()" class="botaoAbreFooter" ><i class="fa fa-bars fa-2x animated zoomInLeft"></i>zdfhvizsuldgfiluzs\dgfçi zsg</a>

<div id="mySideFooter" class="sidefooter" >
    <a href="javascript:void(0)" class="closebtn " onclick="closeFooter()">&times;</a>
    
    
    <div class="row">
    <hr>
    <div class="container-fluid">
        <div class="social-section">
            <ul>
                <li>Nos siga nas redes sociais</li>
                <hr>
                <li><a class="btn-floating btn-small btn-fb btn-rede-social"><i class="fa fa-facebook "> </i>aaa</a></li>
                <li><a class="btn-floating btn-small btn-tw btn-rede-social"><i class="fa fa-twitter"> </i>aaa</a></li>
                <li><a class="btn-floating btn-small btn-ins btn-rede-social"><i class="fa fa-instagram"> </i>aaa</a></li>
            </ul>
        </div>
    </div>
</div>
</div>


