<aside id="accordion" class="social text-vertical-center">
    <div class="accordion-social" >
        <a class="btn btn-dark btn-lg accordion-toggle collapsed" title="Nos siga" role="tab" id="social-collapse" data-toggle="collapse" 
           data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"></a>

        <ul class="panel-collapse nav nav-stacked collapse" role="tablist" aria-labelledby="social-collapse" id="collapseOne">
            <li><a href="https://www.facebook.com/soldierupdesigns" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/soldierupdesign" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
            <li><a href="https://www.plus.google.com/+soldierupdesigns" target="_blank"><i class="fa fa-lg fa-instagram"></i></a></li>
        </ul>
    </div>
</aside>
