<html>
    <head>
        <title></title>
    </head>
    <body>


        <!--Navbar-->
        <nav class="navbar navbar-dark navbar-fixed-top nav-inicial">

            <!-- Collapse button-->
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
                <i class="fa fa-bars"></i>
            </button>

            <div class="container">

                <!--Collapse content-->
                <div class="collapse navbar-toggleable-xs" id="collapseEx2">
                    <!--Navbar Brand-->
                    <a class="navbar-brand" href="../index.html"></a>
                    <!--Links-->
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="indexUsuario.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="eventosCurtidos.html">Eventos Curtidos</a>
                        </li>
                    </ul>
                    <!--links de login e cadastro-->
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../img/teste-perfil.jpg" class="image-nav">  Meu Perfil</a>
                            <div class="dropdown-menu dropdown-default" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <div class="thumbnail">
                                    <img src="../img/sobreAndy.png">
                                    <p>Nome do usuario</p>
                                    <a href="perfil.html">Perfil</a>
                                </div>
                            </div>
                        </li>
                    </ul>


                </div>
                <!--/.Collapse content-->

            </div>

        </nav>
        <!--/.Navbar-->



    </body>
</html>