/*css das paginas de fora */
html,body
{
    background: rgba(236, 240, 241,1.0);
    margin:0; 
    height: 100%;
}
.card
{
    overflow: hidden;
}
.fa
{
    margin-right: 10px;
}
.controles-slide-mini .fa
{
    margin-right: 0;
}
.fa-cadastro
{
    margin-left: 20%;
}
.esqueceu-senha
{
    font-size: 13px;
    color: #7f8c8d;
    margin-top: 20px;
}

.navbar .dropdown .dropdown-menu .esqueceu-senha a {
    color: #3498db!important;
}
/* nav*/
.espaco
{
    height: 110px;
}
.sidenav {
    font-family: "Lato", sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5000;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    display: block;
    transition: 0.3s
}
.sidenav .btn-sair
{
    margin-top: 100%;
    font-size: 1rem;  
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    background: #F80;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.img-perfil 
{
    height: 150px;
    width: 150px;
}
.cabecalho-aside h2
{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.img-perfil img
{
    height: 100%;
    width: 190px;
    margin-left: 25%;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}   
/*centralizando os titulos das paginas*/
.head-pagina
{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
}
.image-nav
{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.image-nav img
{
    width: 100%;
    height: 100%;
}
.navbar
{
    background: #00180a;
    padding: 10px;
}
.nav-inicial .link-nav-adm
{
    margin-top:2%;
}
.nav-inicial .open>.dropdown-menu {
    display: block;
    text-align: center;
}
.nav-inicial .link-nav-adm .link
{
    color:white;
}
.navbar form input {
    margin: 5px;
    height: 2rem;
    width: 100%;
    padding-bottom: 5px;
}
.navbar form .btn-login-nav {
    background: #4285F4;
    width: 90%;
    height: 30px;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.navbar .navbar-toggler, .navbar form {
    float: right;
    padding: 10px;
}

.nav-inicial .navbar-brand{ 
    background: url(../img/logo.png) center / contain no-repeat;
    width: 200px;
    height: 80px;
}
.navbar .navbar-nav .nav-item {
    margin-left: 0;
    margin-top: 20px;
}
/* /.nav*/

/*LOGIN*/
.form-login
{
    margin-left: 25%;
    margin-top: 5%;
}

/*carousel*/
.view img {
    display: block;
    position: relative;
    width: 100%;
}
.slider-index .view img
{
    height: 900px;
}

.carousel-caption {
    right: 30%;
    left: 30%;
    padding-bottom: 30px;
    background: rgba(105 ,105, 105,0.4);
    border-radius: 15px;
    color: white;
    bottom: 10%;
}

.carousel-index-destaques
{
    margin-top: 5%;
    margin-left: 8.5%;
}
.controls-top
{
    text-align: center;
    margin-bottom: 3%;
}
.btn-setas
{
    padding: 15px;
    border-radius: 25px;
}
.carousel-index-destaques h1
{
    text-align: center;
    margin-bottom: 80px;
}
.slider-index
{
    margin-top: 60px;
}


/*mapa do index*/
#map_canvas
{
    width: 85%;
    height: 500px;
    margin: 0 auto;
}
.mapa 
{
    margin-top: 50%;
    margin-bottom: 5%;
}
.mapa h1
{
    text-align: center;
    margin-bottom: 50px;
}
/* /.mapa index*/

/*footer */
footer.page-footer .btn-rede-social {
    color: #fff;
    padding: 10px;
    background: #1abc9c;
    border-radius: 30px;
    margin: 5px;
}
footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    color: #fff;
}
footer .fa
{
    margin-right: 0px;
}

.accordion{
    width:50%;
    position:fixed;
    bottom:0;
    margin-bottom:0;
    padding-bottom:0;
}

.accordion label{
    color:#fff;
}
.accordion input{
    border-radius:0;
}

.panel-heading,
.panel-heading:hover,
.panel-heading:focus,
.panel-heading.focus,
.panel-heading:active,
.panel-heading.active{
    cursor:pointer;
    background-color: #c9302c;
    border-color: #ac2925;
    outline:none;
}

.accordion-toggle{
    text-align:center;
}

.accordion-toggle span:after{
    font-family: 'FontAwesome';
    content:"\f078";
    position:absolute;
    top:0;
    bottom:0;
    right:5%;
    color: white;
    text-align:right;
    float:right;
    vertical-align:middle;
    margin-top:0;
    font-weight:700;
    font-size:120%;
}

.collapsed span:after{
    content:"\f077";	
}

.btn-dark{
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active{
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}


.social 
{
    z-index: 3000;
    position: fixed;
    bottom: .5%;
    right:  0;
    padding: 0;
    margin: 0;
    font-size: 100%}
.social ul 
{
    background: #222;
}
.social ul li {
    list-style: none outside none;
    display: block;
    background: #222;
    padding: 3px;
    margin: 0;
}
.social ul li a
{
    padding: 5px;

}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #222;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.social .fa-facebook:hover {
    background: #4060A5;
    border: 1px solid #4060A5;
}
.social .fa-twitter:hover {
    background: #00ABE3;
    border: 1px solid #00ABE3;
}
.social .fa-instagram:hover {
    background: linear-gradient(45deg, yellow,#FF6347, purple 70%);
    border: 1px solid #fff;

}
#social-collapse:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: none;
    position: relative;
    color: white;
}
#social-collapse.collapsed:after {
    content: "\f067";
}
ol.linenums{
    counter-reset:linenumber;
}
ol.linenums li{
    list-style-type:none;
    counter-increment:linenumber;
}
ol.linenums li:before{
    content: counter(linenumber);
    float:left;
    margin-left:-4em;
    text-align:right;
    width:3em;
}

.mt {
    margin-top: 2%;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}
section {
    padding-bottom: 5%;
}
.bg-inverse {
    color: #FFF;
    background-color: #333;
}
.centered {
    text-align: center;
}
.mt {
    margin-top: 2%;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}
hr.small {
    max-width: 100px;
}
.page-header{
    text-align: center;    
}

/*page styling*/
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}
.bs-callout:last-child {
    margin-bottom: 0px;
}
.bs-callout h4,
.bs-callout h5 {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 600;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4,
.bs-callout-danger h5{
    color: #d9534f;
}

.header-title {
    color: #fff;
}
.title-thin {
    font-weight: 300;
}
.service-item {
    margin-bottom: 30px;
}


/* /.footer*/

/*evento especifico*/
.row
{
    margin: 0;
    padding: 0;
}

.caixa-informacao-especifico
{
    position:absolute;
    top:20%;
    left:10%;
    width: 80%;
    text-align: center;
}
.rating li
{
    display: inline;
}
.imagem-evento-especifico
{
    height:450px;
}
.imagem-evento-especifico img
{
    height: 100%;
}
.informacao-evento-especifico
{
    margin-top: 50px;
}
.informacao-evento-especifico h1
{
    margin-bottom: 20px;
}
.informacao-evento-especifico h3
{
    margin-top: 30px;
    margin-bottom: 20px;
}
.informacao-evento-especifico .social-counters
{
    margin-bottom: 50px;
}
.info-especifico ,.descricao-especifico
{
    margin-top: 100px;    
}
.descricao-especifico
{
    margin-bottom: 20px;
}

/*estilização das estrelas na pagina de evento especifico*/
div.stars {
    width: 270px;
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }
input.star-2:checked ~ label.star:before { color: #e67e22; }
input.star-3:checked ~ label.star:before { color: #CDCD00; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
.estrelas
{
    margin-top: -16px;
}
/*fim da estilização das estrelas*/
/*mapa*/
.mapa-especifico
{
    margin-top: 5%;
    margin-bottom: 5%;
}

.section .view, .section img, .z-depth-2 {
    box-shadow: none;
}

.md-form
{
    /* border: 2px solid rgba(127, 140, 141,0.5); */
    border-radius: 5px;
    padding: 5px;
    /* background: rgba(189, 195, 199,0.2); */
    border-radius: 20px;
}
.btn-comentar
{
    margin-left: 45%;
    margin-top: 2%;
    border-radius: 10px;
}
.section-comentarios .section-heading
{
    text-align: center;
}

.social-counters button, select {
    text-transform: none;
    border: none;
    background: white;
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.modal-galeria
{
    top: 25%;
}

/* /.evento especifico*/

/*
*PERFIL DA EMPRESA
*/
.imagem-perfil-empresa-efeito
{
    margin-left: 25%;
    margin-top: 2%;
    height: 350px;
    margin-bottom: 5%;
}
.evento-perfil-empresa
{
    margin-top: 2%;
}
.caixa-informacao-perfil-empresa
{
    position:absolute;
    top:20%;
    left:10%;
    background: rgba(189, 195, 199,0.4);
    width: 80%;
    text-align: center;
}


/*
* /.PERFIL DA EMPRESA
*/
/*
*CADASTRO DE USUARIO/EMPRESA
*/
.link-cep
{
    top: 40px;
}
.label-form
{
    color: #757575;
    top: .8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
}
.md-form .label-perfil-empresa ,.md-form .label-perfil-usuario
{
    top: -15px;
}

#cadastroEmpresa , #cadastroUsuario
{
    display: none;
    text-align: center;
}
.corpo-form-cadastro
{
    margin-left: 16.7%;
    margin-top: 5%;
    border-radius: 15px;
    padding: 20px;
}
#box-toggle .fa
{
    margin-right: 20px;
}

.botaoAtivo:focus, .botaoAtivo:hover {
    background-color: rgba(149, 165, 166,0.6);
    color: #fff;
}

/*
*CADASTRO DE USUARIO/EMPRESA
*/

/*
* PAGINA DE SOBRE
*/
#section-projeto
{
    text-align: center;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 5%;
}
#section-integrantes
{
    margin-bottom: 10%;
}
#section-projeto .jumbotron
{
    background: rgba(22, 160, 133,1.0);
    color: white;
    border-radius: 20px 55px;
}
#section-integrantes .card
{
    background: rgba(189, 195, 199,0.4);
}
#section-integrantes h1
{
    text-align: center;
    margin-bottom: 100px;
}
.avatar-integrante
{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.avatar-integrante img
{
    width: 100%;
}
.cabecalho-form-sobre
{
    background: rgba(230, 126, 34,1.0) ;
    color: white;
    margin-bottom: 50px;
}
.select-assunto
{
    margin-left: 40%;
}
.form-sobre p 
{
    text-align: center;
}


/*
* FIM PAGINA DE SOBRE
*/

/*
* PAGINA DE EVENTOS
*/

.eventos-categoria , .eventos-empresa
{
    margin-bottom: 5%;
    text-align: center;
}
.img-evento-efeito
{
    width: 100%;

}
.card-footer {
    padding: .75rem 1.25rem;
    background: none;
    border-top: 1px solid #e5e5e5;
}
/*css dos links de paginação*/
.paginator-itens
{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 20px;
}
.previous_link ,.page_link , .next_link
{
    padding: 5px;
    color: #2980b9;
}
/*/.paginação */
/*
/.eventos
*/

/*EVENTOS BUSCA*/
.sectionBusca
{
    margin-left: 8.35%;
}
.sectionBusca .section-heading
{
    text-align: center;
    padding: 30px;
}

.sectionBusca .view,.sectionBusca img {
    display: block;
    max-width: 100%;
    height: 350px;
}
/* EVENTOS POR UMA CATEGORIA*/

.sectionCategoria
{
    margin-left: 8.35%;
}
.sectionCategoria .section-heading
{
    text-align: center;
    padding: 30px;
}

.sectionCategoria .view,.sectionCategoria img {
    display: block;
    max-width: 100%;
    height: 350px;
}
#section-sem-evento
{
    text-align: center;
    margin-left: 8%;
    margin-bottom: 5%;
}
#section-sem-evento .jumbotron
{
    background: rgba(44, 62, 80,0.6);
    color: white;
    border-radius: 20px 55px;
}
.img-mini-slide
{
    overflow: hidden;
}
.img-mini-slide img
{
    height: 300px;
    width: 100%;
}
.ev-cancelado , .ev-normais
{
    display: block;
    position: absolute;

    top: 50px;
    left: -80px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    opacity: 0.7;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    transform:         rotate(-45deg);
    font-size: 24px;
    font-weight: 700;
    color: white;
    border: 1px solid white;;
}
.ev-normais
{
    background-color: #1abc9c;
}
.ev-cancelado
{
     background-color: red;
}

/**PAGINA DE RANKING*/
.section-ranking
{
    margin-left: 8.35%;
}
.single-news .info-ev-ranking
{
    text-align: center;
}
.ev-primeiro-lugar
{
    width: 100%;
    height: 400px;
    text-align: center;
}
.ev-primeiro-lugar img
{
    height: 500px;
    width: 80%;
    margin: 0 auto;
}
.ev-segundo-lugar img , .ev-terceiro-lugar img
{
    height: 350px;
}