<!DOCTYPE html>
<html ng-app="platz">
    <head>
        <title>Platz Web API </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="lib/angular/angular.js" type="text/javascript"></script>
    </head>

    <body> 
        <script>

            angular.module("platz", []);
            angular.module("platz").controller("platzController", function ($scope, $http) {

                //Faz um Get no Web Service recebendo uma URL
                /*
                 $http._metodoHTTP("url").then(function de sucesso,function de erro);
                 */
                $scope.listarTodos = function () {
                    $http.get("http://localhost:8096/PlatzWebService/platz/categorias").then(function (response) {
                        $scope.categorias = response.data;
                        console.log(response);
                    }, function (response) {
                    });
                };

                $scope.cadastrar = function (categoria) {
                    $http.post("http://localhost:8096/PlatzWebService/platz/categoria", categoria).then(function (response) {

                        console.log("Categoria Cadastrada com Sucesso");

                        //Atualiza a lista
                        $scope.listarTodos();

                    }, function (response) {

                        console.log("Erro ao cadastrar");
                        console.log(response);

                    });
                };

                $scope.listarTodos();

            });

        </script>

        <h1>Platz Web API</h1>
        <p>Feche essa página e abra o Postman</p>

        <div ng-controller="platzController">

            <input type="text" ng-model="categoria.nome">

            <button ng-click="cadastrar(categoria)" style="width: 30px;height: 50px;" value="Cadastrar"></button>

            <select ng-options="categoria.nome for categoria in categorias" ng-model="categoria"></select>
            {{categoria}}

            <div ng-repeat="categoria in categorias">
                {{categoria.nome}}
            </div>


        </div>

    </body>
</html>
